<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book_view</title>
    <link rel="stylesheet" href="/styles/view.css">
</head>
<body>
    <div class="header">
        <a href="/home"><button>Home</button></a>
        <a href="/"><button>Log Out</button></a>
    </div>


    <section class="view">
        <h1>My Notes</h1>
        <p><%= notes %></p>
    </section>
</body>
</html>