/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
  }
  .header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .header button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .header button:hover{
    background-color: #0056b3;
  }
  /* Center the form */
  .new_book {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
  }
  
  form {
    width: 80%;
    height: 100%;
    max-width: 700px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Style input fields */
  input[type="text"],
  input[type="date"],
  input[type="number"]
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
  }
  .preview,.notes{
    width: 100%;
    text-wrap: wrap;
    vertical-align: top;
    text-align: left;
    direction: ltr;
    height: 600px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
    font-size: 20px;
  }
  
  
  /* Make textareas expandable */
  
  /* Style the submit button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  